Repository fogfish/dynamo, changes with the labels that .github/labeler.yml gives for each.
All labels: [#] ci/cd, [#] deps, [#] doc, [#] api, [#] dynamodb, [#] s3

.github/labeler.yml:

"[#] ci/cd":
 - '.github/*'
 - '.github/**/*'

"[#] deps":
 - 'go.mod'
 - 'go.sum'

"[#] doc":
 - '*.md'
 - 'doc/*'
 - 'doc/**/*'
 - 'examples/**/*'

"[#] api":
 - '*.go'
 - 'internal/common/*'
 - 'internal/constrain/*'
 - 'internal/dynamotest/*'

"[#] dynamodb":
 - 'service/ddb/*'
 - 'internal/ddb/*'
 - 'internal/ddb/**/*'

"[#] s3":
 - 'service/s3/*'
 - 'internal/s3/*'
 - 'internal/s3/**/*'

fix test coverage
  service/ddb/ddb_test.go
  service/s3/s3_test.go
Labels: [#] dynamodb, [#] s3

fix test coverage
  internal/ddbtest/ddbtest.go
Labels: none

scale I/O options
  examples/keyval/main.go
  internal/dynamotest/dynamotest.go
  service/ddb/constraint.go
  service/ddb/constraint_test.go
  service/ddb/opGet.go
  service/ddb/opMatch.go
  service/ddb/opPut.go
  service/ddb/opRemove.go
  service/ddb/opUpdate.go
  service/s3/opGet.go
  service/s3/opMatch.go
  service/s3/opPut.go
  service/s3/opRemove.go
  service/s3/opUpdate.go
  types.go
Labels: [#] doc, [#] api, [#] dynamodb, [#] s3

break api compatibility, version 3 released
  examples/conditional-writes/main.go
  examples/keyval/main.go
  examples/relational/main.go
  examples/update-expression-sets/main.go
  examples/update-expression/main.go
  go.mod
  internal/ddbtest/ddbtest.go
  internal/dynamotest/dynamotest.go
  internal/s3test/s3test.go
  service/ddb/codec.go
  service/ddb/codec_test.go
  service/ddb/constraint.go
  service/ddb/ddb.go
  service/ddb/ddb_test.go
  service/ddb/dsl.go
  service/ddb/errors.go
  service/ddb/opMatch.go
  service/ddb/opUpdate.go
  service/ddb/schema.go
  service/s3/codec.go
  service/s3/errors.go
  service/s3/opMatch.go
  service/s3/s3.go
  service/s3/s3_test.go
  service/s3/schema.go
  service/s3/schema_test.go
Labels: [#] deps, [#] doc, [#] api, [#] dynamodb, [#] s3

update deps
  Makefile
  go.mod
  go.sum
Labels: [#] deps

fix Options type
  service/ddb/codec.go
  service/ddb/ddb.go
  service/ddb/options.go
  service/s3/options.go
  service/s3/s3.go
Labels: [#] dynamodb, [#] s3

add license
  service/ddb/options.go
Labels: [#] dynamodb

Simplify configuration via Option (#81)
  Makefile
  config.go
  examples/conditional-writes/main.go
  examples/keyval/main.go
  examples/relational/main.go
  examples/update-expression-sets/main.go
  examples/update-expression/main.go
  go.mod
  go.sum
  internal/ddbtest/ddbtest.go
  internal/dynamotest/dynamotest.go
  internal/s3test/s3test.go
  service/ddb/codec.go
  service/ddb/codec_test.go
  service/ddb/constraint.go
  service/ddb/constraint_test.go
  service/ddb/ddb.go
  service/ddb/ddb_test.go
  service/ddb/dsl.go
  service/ddb/errors.go
  service/ddb/opGet.go
  service/ddb/opMatch.go
  service/ddb/opPut.go
  service/ddb/opRemove.go
  service/ddb/opUpdate.go
  service/ddb/options.go
  service/ddb/schema.go
  service/s3/codec.go
  service/s3/errors.go
  service/s3/opGet.go
  service/s3/opMatch.go
  service/s3/opPut.go
  service/s3/opRemove.go
  service/s3/opUpdate.go
  service/s3/options.go
  service/s3/s3.go
  service/s3/s3_test.go
  service/s3/schema.go
  service/s3/schema_test.go
  types.go
Labels: [#] deps, [#] doc, [#] api, [#] dynamodb, [#] s3

Update go.mod (6 modules)
  go.mod
  go.sum
Labels: [#] deps

automate pull request when deps updated
  .github/workflows/update-deps.yml
Labels: [#] ci/cd

Update go.mod (6 modules)
  go.mod
  go.sum
Labels: [#] deps

update workflow for auto dep updater
  .github/workflows/update-deps.yml
Labels: [#] ci/cd

Update go.mod (6 modules)
  go.mod
  go.sum
Labels: [#] deps

Update go.mod (6 modules)
  go.mod
  go.sum
Labels: [#] deps

allow update-deps action to run CI/CD pipeline on new PR
  .github/workflows/update-deps.yml
Labels: [#] ci/cd

Update go.mod (6 modules)
  go.mod
  go.sum
Labels: [#] deps

fix updater worflow to run other checks
  .github/workflows/update-deps.yml
Labels: [#] ci/cd

Update go.mod (6 modules)
  go.mod
  go.sum
Labels: [#] deps

fix action permissions
  .github/workflows/update-deps.yml
Labels: [#] ci/cd

fix action permissions
  .github/workflows/update-deps.yml
Labels: [#] ci/cd

Update go.mod (6 modules)
  go.mod
  go.sum
Labels: [#] deps

experement with action permissions
  .github/workflows/update-deps.yml
Labels: [#] ci/cd

Update go.mod (6 modules)
  go.mod
  go.sum
Labels: [#] deps

revert all permissions
  .github/workflows/update-deps.yml
Labels: [#] ci/cd

chain workloads after deps updated
  .github/workflows/check-code.yml
  .github/workflows/check-test.yml
  .github/workflows/check-triage.yml
  .github/workflows/update-deps.yml
Labels: [#] ci/cd

Update go.mod (6 modules)
  go.mod
  go.sum
Labels: [#] deps

try labeller to trigger actions
  .github/workflows/check-code.yml
  .github/workflows/check-test.yml
  .github/workflows/check-triage.yml
  .github/workflows/update-deps.yml
Labels: [#] ci/cd

Update go.mod (6 modules)
  go.mod
  go.sum
Labels: [#] deps

try label for action chaining
  .github/labels.yml
  .github/workflows/check-code.yml
  .github/workflows/update-deps.yml
Labels: [#] ci/cd

set explicit label type
  .github/workflows/update-deps.yml
Labels: [#] ci/cd

Update go.mod (6 modules)
  go.mod
  go.sum
Labels: [#] deps

fix permission to add label
  .github/workflows/update-deps.yml
Labels: [#] ci/cd

Update go.mod (6 modules)
  go.mod
  go.sum
Labels: [#] deps

change labeler action
  .github/workflows/check-code.yml
  .github/workflows/update-deps.yml
Labels: [#] ci/cd

Update go.mod (6 modules)
  go.mod
  go.sum
Labels: [#] deps

revert labeller
  .github/workflows/check-code.yml
  .github/workflows/update-deps.yml
Labels: [#] ci/cd

Update go.mod (6 modules)
  go.mod
  go.sum
Labels: [#] deps

use explicit triggers for actions
  .github/workflows/check-test.yml
  .github/workflows/update-deps.yml
Labels: [#] ci/cd

Update go.mod (6 modules)
  go.mod
  go.sum
Labels: [#] deps

cosmetic clean up to update action
  .github/workflows/update-deps.yml
Labels: [#] ci/cd
