Repository fogfish/dynamo, changes with the labels that .github/labeler.yml gives for each.
All labels: [#] ci/cd, [#] deps, [#] doc, [#] api, [#] dynamodb, [#] s3

use config pattern
  config.go
  examples/keyval/main.go
  internal/ddb/ddbtest/ddbtest.go
  internal/s3/s3test/s3test.go
  service/ddb/ddb.go
  service/s3/s3.go
Labels: [#] doc, [#] api, [#] dynamodb, [#] s3

update examples
  README.md
  examples/relational/main.go
Labels: [#] doc

clean up of public api
  examples/relational/types.go
  internal/ddbtest/ddbtest.go
  internal/s3test/s3test.go
  service/ddb/ddb.go
  service/s3/s3.go
  types.go
Labels: [#] doc, [#] api, [#] dynamodb, [#] s3

clean up constraint api
  constraint.go
  service/ddb/constraint.go
  service/ddb/constraint_test.go
Labels: [#] api, [#] dynamodb

drop internal constraint package
  internal/constraint/constraint.go
  internal/constraint/constraint_test.go
Labels: none

Update documentation
  README.md
  doc.go
  service/ddb/errors.go
  service/ddb/opGet.go
  service/ddb/opMatch.go
  service/ddb/opPut.go
  service/ddb/opRemove.go
  service/ddb/opUpdate.go
  service/s3/errors.go
  service/s3/opGet.go
  service/s3/opMatch.go
  service/s3/opPut.go
  service/s3/opRemove.go
  service/s3/opUpdate.go
  types.go
Labels: [#] doc, [#] api, [#] dynamodb, [#] s3

editorial changes
  service/ddb/constraint.go
  service/ddb/errors.go
  service/ddb/opPut.go
  service/ddb/opRemove.go
  service/ddb/opUpdate.go
Labels: [#] dynamodb

return object on remove
  README.md
  examples/keyval/main.go
  internal/ddbtest/ddbtest.go
  internal/dynamotest/dynamotest.go
  internal/s3test/s3test.go
  service/ddb/ddb_test.go
  service/ddb/opRemove.go
  service/s3/opRemove.go
  service/s3/s3_test.go
  types.go
Labels: [#] doc, [#] api, [#] dynamodb, [#] s3

Update expressions for dynamodb
  examples/update-expression/main.go
  go.mod
  go.sum
  service/ddb/dsl.go
  service/ddb/dsl_test.go
  service/ddb/opUpdate.go
Labels: [#] deps, [#] doc, [#] dynamodb

update unit test
  service/ddb/ddb_test.go
  service/ddb/dsl.go
Labels: [#] dynamodb

improve coverage
  service/ddb/opUpdate.go
Labels: [#] dynamodb

align syntax of conditional and update expressions
  service/ddb/constraint.go
  service/ddb/constraint_test.go
  service/ddb/ddb_test.go
  service/ddb/dsl.go
  service/ddb/dsl_test.go
  service/ddb/opPut.go
  service/ddb/opRemove.go
  service/ddb/opUpdate.go
  service/ddb/schema.go
  types.go
Labels: [#] api, [#] dynamodb

align s3 interface
  service/s3/opPut.go
  service/s3/opRemove.go
  service/s3/opUpdate.go
Labels: [#] s3

support multiple conditions
  examples/conditional-writes/main.go
  examples/update-expression/main.go
  internal/ddbtest/ddbtest.go
  service/ddb/constraint.go
  service/ddb/constraint_test.go
Labels: [#] doc, [#] dynamodb

update test coverage
  service/ddb/constraint_test.go
Labels: [#] dynamodb

update README.md
  README.md
  service/ddb/constraint.go
Labels: [#] doc, [#] dynamodb

minor fixes after review
  README.md
  examples/conditional-writes/main.go
  examples/update-expression/main.go
  go.mod
  service/ddb/dsl.go
  service/ddb/dsl_test.go
Labels: [#] deps, [#] doc, [#] dynamodb

enhance update expression with ADD
  service/ddb/dsl.go
  service/ddb/dsl_test.go
Labels: [#] dynamodb

readability for expression builders
  examples/conditional-writes/main.go
  examples/update-expression/main.go
  service/ddb/constraint.go
  service/ddb/constraint_test.go
  service/ddb/ddb_test.go
  service/ddb/dsl.go
  service/ddb/dsl_test.go
  service/ddb/schema.go
Labels: [#] doc, [#] dynamodb

add support for get batch
  examples/keyval/main.go
  service/ddb/ddb.go
  service/ddb/opGet.go
Labels: [#] doc, [#] dynamodb

support embedded types in I/O
  go.mod
  go.sum
  service/ddb/codec.go
  service/ddb/constraint.go
  service/ddb/dsl.go
  service/ddb/schema.go
  service/s3/schema.go
Labels: [#] deps, [#] dynamodb, [#] s3

Increase coverage
  service/ddb/constraint_test.go
  service/ddb/dsl_test.go
  service/ddb/schema.go
Labels: [#] dynamodb

update libs
  go.mod
  go.sum
Labels: [#] deps

update unit test
  service/ddb/dsl_test.go
Labels: [#] dynamodb

fix query of GSI with fixed projection
  config.go
  service/ddb/codec.go
  service/ddb/ddb.go
  service/ddb/opMatch.go
  service/ddb/schema.go
  service/s3/opMatch.go
  types.go
Labels: [#] api, [#] dynamodb, [#] s3

Improve configurability
  config.go
  go.mod
  go.sum
Labels: [#] deps, [#] api

update library version
  go.mod
  go.sum
  service/ddb/codec.go
  service/ddb/constraint.go
  service/ddb/dsl.go
  service/ddb/errors.go
  service/ddb/schema.go
  service/s3/errors.go
  service/s3/schema.go
  types.go
Labels: [#] deps, [#] api, [#] dynamodb, [#] s3

update go version
  .github/workflows/check-code.yml
  .github/workflows/check-test.yml
  go.mod
  internal/dynamotest/dynamotest.go
  types.go
Labels: [#] ci/cd, [#] deps, [#] api

remove deprecate library
  internal/s3test/s3test.go
Labels: none

support set operations in UpdateWith
  examples/update-expression-sets/main.go
  service/ddb/dsl.go
  service/ddb/dsl_test.go
  service/ddb/opUpdate.go
Labels: [#] doc, [#] dynamodb

remove unused code
  service/ddb/dsl.go
Labels: [#] dynamodb

remove unused code
  service/ddb/opUpdate.go
Labels: [#] dynamodb

simplify unit test
  service/ddb/dsl_test.go
Labels: [#] dynamodb

Support set operations in UpdateWith (#77)
  examples/update-expression-sets/main.go
  service/ddb/dsl.go
  service/ddb/dsl_test.go
Labels: [#] doc, [#] dynamodb

explicitly provide cursor for Match
  examples/keyval/main.go
  examples/relational/main.go
  internal/dynamotest/dynamotest.go
  service/ddb/opMatch.go
  service/s3/opMatch.go
  types.go
Labels: [#] doc, [#] api, [#] dynamodb, [#] s3

update README
  README.md
Labels: [#] doc

Explicitly provide cursor for Match (#80)
  README.md
  examples/keyval/main.go
  examples/relational/main.go
  internal/dynamotest/dynamotest.go
  service/ddb/opMatch.go
  service/s3/opMatch.go
  types.go
Labels: [#] doc, [#] api, [#] dynamodb, [#] s3

Simplify configuration via Option
  config.go
  examples/conditional-writes/main.go
  examples/keyval/main.go
  examples/relational/main.go
  examples/update-expression-sets/main.go
  examples/update-expression/main.go
  internal/ddbtest/ddbtest.go
  internal/s3test/s3test.go
  service/ddb/codec.go
  service/ddb/config.go
  service/ddb/ddb.go
  service/ddb/errors.go
  service/s3/config.go
  service/s3/errors.go
  service/s3/s3.go
Labels: [#] doc, [#] api, [#] dynamodb, [#] s3

fix test coverage
  internal/ddbtest/ddbtest.go
  internal/s3test/s3test.go
  types.go
Labels: [#] api

fix test coverage
  internal/ddbtest/ddbtest.go
Labels: none

.github/labeler.yml:

"[#] ci/cd":
 - '.github/*'
 - '.github/**/*'

"[#] deps":
 - 'go.mod'
 - 'go.sum'

"[#] doc":
 - '*.md'
 - 'doc/*'
 - 'doc/**/*'
 - 'examples/**/*'

"[#] api":
 - '*.go'
 - 'internal/common/*'
 - 'internal/constrain/*'
 - 'internal/dynamotest/*'

"[#] dynamodb":
 - 'service/ddb/*'
 - 'internal/ddb/*'
 - 'internal/ddb/**/*'

"[#] s3":
 - 'service/s3/*'
 - 'internal/s3/*'
 - 'internal/s3/**/*'
