Repository fogfish/dynamo, changes with the labels that .github/labeler.yml gives for each.
All labels: [#] ci/cd, [#] deps, [#] doc, [#] api, [#] dynamodb, [#] s3

.github/labeler.yml:

"[#] ci/cd":
 - '.github/*'
 - '.github/**/*'

"[#] deps":
 - 'go.mod'
 - 'go.sum'

"[#] doc":
 - '*.md'
 - 'doc/*'
 - 'doc/**/*'
 - 'examples/**/*'

"[#] api":
 - '*.go'
 - 'internal/common/*'
 - 'internal/constrain/*'
 - 'internal/dynamotest/*'

"[#] dynamodb":
 - 'service/ddb/*'
 - 'internal/ddb/*'
 - 'internal/ddb/**/*'

"[#] s3":
 - 'service/s3/*'
 - 'internal/s3/*'
 - 'internal/s3/**/*'

fix broken link to test
  README.md
Labels: [#] doc

Update go.mod (6 modules)
  go.mod
  go.sum
Labels: [#] deps

fix aws s3 sdk compatibility issue
  internal/s3test/s3test.go
  service/s3/opMatch.go
Labels: [#] s3

fix README.md links
  README.md
Labels: [#] doc

drop Makefile for deps management
  Makefile
  README.md
Labels: [#] doc

drop Makefile for deps management (#98)
  Makefile
  README.md
Labels: [#] doc

Update go.mod (5 modules)
  go.mod
  go.sum
Labels: [#] deps

add Mentioned in Awesome Go badge
  README.md
Labels: [#] doc

add Mentioned in Awesome Go badge (#100)
  README.md
Labels: [#] doc

Update CI/CD with newer actions and release automation
  .github/workflows/build.yml
  .github/workflows/check-code.yml
  .github/workflows/check-triage.yml
Labels: [#] ci/cd

remove CodeClimate
  .github/workflows/check-code.yml
  README.md
Labels: [#] ci/cd, [#] doc

Update CI/CD with newer actions and release automation (#102)
  .github/workflows/build.yml
  .github/workflows/check-code.yml
  .github/workflows/check-triage.yml
  README.md
Labels: [#] ci/cd, [#] doc

Update go.mod (7 modules)
  go.mod
  go.sum
Labels: [#] deps

Update go.mod
  go.mod
Labels: [#] deps

Update go.mod
  go.mod
Labels: [#] deps

Update versions
  .github/workflows/build.yml
  .github/workflows/check-test.yml
  go.mod
  go.sum
Labels: [#] ci/cd, [#] deps

Update versions (#104)
  .github/workflows/build.yml
  .github/workflows/check-test.yml
  go.mod
  go.sum
Labels: [#] ci/cd, [#] deps

Use fogfish/opts library to declare options
  README.md
  go.mod
  go.sum
  service/ddb/ddb.go
  service/ddb/errors.go
  service/ddb/opGet.go
  service/ddb/opMatch.go
  service/ddb/opPut.go
  service/ddb/opRemove.go
  service/ddb/opUpdate.go
  service/ddb/options.go
Labels: [#] deps, [#] doc, [#] dynamodb

use opts lib for s3
  service/s3/opGet.go
  service/s3/opMatch.go
  service/s3/opPut.go
  service/s3/opRemove.go
  service/s3/opUpdate.go
  service/s3/options.go
  service/s3/s3.go
Labels: [#] s3

Use fogfish/opts library to declare options (#105)
  README.md
  go.mod
  go.sum
  service/ddb/ddb.go
  service/ddb/errors.go
  service/ddb/opGet.go
  service/ddb/opMatch.go
  service/ddb/opPut.go
  service/ddb/opRemove.go
  service/ddb/opUpdate.go
  service/ddb/options.go
  service/s3/opGet.go
  service/s3/opMatch.go
  service/s3/opPut.go
  service/s3/opRemove.go
  service/s3/opUpdate.go
  service/s3/options.go
  service/s3/s3.go
Labels: [#] deps, [#] doc, [#] dynamodb, [#] s3

support OR condition with I/O constraint
  examples/conditional-writes/main.go
  service/ddb/constraint.go
  service/ddb/constraint_test.go
  service/ddb/dsl.go
Labels: [#] doc, [#] dynamodb

clean up
  README.md
  service/ddb/constraint.go
Labels: [#] doc, [#] dynamodb

define OneOf and AllOf combinators
  README.md
  service/ddb/constraint.go
  service/ddb/constraint_test.go
Labels: [#] doc, [#] dynamodb

remove unessesary spaces
  service/ddb/dsl.go
Labels: [#] dynamodb

Support composition of constraint using OR, AND (#106)
  README.md
  examples/conditional-writes/main.go
  service/ddb/constraint.go
  service/ddb/constraint_test.go
Labels: [#] doc, [#] dynamodb

support batch I/O with DynamoDB
  internal/ddbtest/ddbtest.go
  service/ddb/ddb_test.go
  service/ddb/errors.go
  service/ddb/opGet.go
  service/ddb/opPut.go
  service/ddb/opRemove.go
  service/ddb/options.go
Labels: [#] dynamodb

fix README.md
  README.md
Labels: [#] doc

exclusive example for batch i/o
  examples/batch/main.go
  examples/keyval/main.go
Labels: [#] doc

support batch I/O with DynamoDB (#107)
  README.md
  examples/batch/main.go
  examples/keyval/main.go
  internal/ddbtest/ddbtest.go
  service/ddb/ddb_test.go
  service/ddb/errors.go
  service/ddb/opGet.go
  service/ddb/opPut.go
  service/ddb/opRemove.go
  service/ddb/options.go
Labels: [#] doc, [#] dynamodb

Make table/bucket as mandatory options
  examples/conditional-writes/main.go
  examples/keyval/main.go
  examples/relational/main.go
  examples/update-expression-sets/main.go
  examples/update-expression/main.go
  internal/ddbtest/ddbtest.go
  internal/s3test/s3test.go
  service/ddb/ddb.go
  service/ddb/ddb_test.go
  service/ddb/options.go
  service/s3/options.go
  service/s3/s3.go
  service/s3/s3_test.go
Labels: [#] doc, [#] dynamodb, [#] s3

fix example
  examples/batch/main.go
Labels: [#] doc

remove WithTable
  service/ddb/options.go
Labels: [#] dynamodb

Make table/bucket as mandatory options (#108)
  examples/batch/main.go
  examples/conditional-writes/main.go
  examples/keyval/main.go
  examples/relational/main.go
  examples/update-expression-sets/main.go
  examples/update-expression/main.go
  internal/ddbtest/ddbtest.go
  internal/s3test/s3test.go
  service/ddb/ddb.go
  service/ddb/ddb_test.go
  service/ddb/options.go
  service/s3/options.go
  service/s3/s3.go
  service/s3/s3_test.go
Labels: [#] doc, [#] dynamodb, [#] s3

migrate to curie/v2 library
  examples/batch/main.go
  examples/conditional-writes/main.go
  examples/keyval/main.go
  examples/relational/main.go
  examples/relational/types.go
  examples/update-expression-sets/main.go
  examples/update-expression/main.go
  go.mod
  go.sum
  internal/ddbtest/ddbtest.go
  internal/dynamotest/dynamotest.go
  internal/s3test/s3test.go
  service/ddb/codec_test.go
  service/ddb/constraint_test.go
  service/ddb/ddb_test.go
  service/ddb/dsl_test.go
  service/ddb/opMatch.go
  service/ddb/options.go
  service/s3/codec.go
  service/s3/opMatch.go
  service/s3/options.go
  service/s3/s3_test.go
  service/s3/schema_test.go
  types.go
Labels: [#] deps, [#] doc, [#] api, [#] dynamodb, [#] s3

migrate to curie/v2 library (#109)
  examples/batch/main.go
  examples/conditional-writes/main.go
  examples/keyval/main.go
  examples/relational/main.go
  examples/relational/types.go
  examples/update-expression-sets/main.go
  examples/update-expression/main.go
  go.mod
  go.sum
  internal/ddbtest/ddbtest.go
  internal/dynamotest/dynamotest.go
  internal/s3test/s3test.go
  service/ddb/codec_test.go
  service/ddb/constraint_test.go
  service/ddb/ddb_test.go
  service/ddb/dsl_test.go
  service/ddb/opMatch.go
  service/ddb/options.go
  service/s3/codec.go
  service/s3/opMatch.go
  service/s3/options.go
  service/s3/s3_test.go
  service/s3/schema_test.go
  types.go
Labels: [#] deps, [#] doc, [#] api, [#] dynamodb, [#] s3

fix: index option
  service/ddb/opMatch.go
Labels: [#] dynamodb

fix: index option (#110)
  service/ddb/opMatch.go
Labels: [#] dynamodb

fix Invalid ConditionExpression error
  service/ddb/constraint.go
Labels: [#] dynamodb

fix Invalid ConditionExpression error (#111)
  service/ddb/constraint.go
Labels: [#] dynamodb

(fix) allow multiple commands in UpdateWith
  README.md
  service/ddb/dsl.go
Labels: [#] doc, [#] dynamodb
